Django==1.7.7
Scrapy==0.24.5
Twisted==15.0.0
cffi==0.9.2
chardet==2.0.1
colorama==0.2.5
cryptography==0.8.1
cssselect==0.9.1
django-haystack==2.3.1
elasticsearch==1.4.0
html5lib==0.999
lxml==3.4.2
psycopg2==2.6
pyOpenSSL==0.14
pyasn1==0.1.7
pycparser==2.10
queuelib==1.2.2
requests==2.2.1
six==1.5.2
urllib3==1.10.2
w3lib==1.11.0
zope.interface==4.1.2
