asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
certifi==2017.7.27.1
cffi==1.10.0
chardet==3.0.4
colorama==0.3.9
constantly==15.1.0
cryptography==2.0.2
cssselect==1.0.1
Django==1.11.3
django-haystack==2.6.1
django-taggit==0.22.1
djangorestframework==3.6.3
elasticsearch==2.4.1
fuzzywuzzy==0.15.1
html5lib==0.999999999
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
lxml==3.8.0
Markdown==2.6.8
musicbrainzngs==0.6
packaging==16.8
parsel==1.2.0
psycopg2==2.7.3
pyasn1==0.3.1
pyasn1-modules==0.0.10
pycparser==2.18
PyDispatcher==2.0.5
pyen==2.3.1
pylast==1.9.0
pyOpenSSL==17.2.0
pyparsing==2.2.0
pytz==2017.2
queuelib==1.4.2
requests==2.18.2
Scrapy==1.4.0
scrapy-djangoitem==1.1.1
service-identity==17.0.0
six==1.10.0
spotipy==2.4.4
Twisted==17.5.0
urllib3==1.22
w3lib==1.17.0
webencodings==0.5.1
zope.interface==4.4.2
