asn1crypto==0.22.0
attrs==17.2.0
Automat==0.6.0
certifi==2017.7.27.1
cffi==1.10.0
characteristic==14.3.0
chardet==3.0.4
colorama==0.3.3
constantly==15.1.0
cryptography==2.0.2
cssselect==1.0.1
Django==1.8.2
django-haystack==2.4.0
django-taggit==0.15.0
djangorestframework==3.1.3
elasticsearch==1.6.0
enum34==1.1.6
fuzzywuzzy==0.5.0
gyp==0.1
html5lib==0.99999
hyperlink==17.3.0
idna==2.5
incremental==17.5.0
ipaddress==1.0.18
lxml==3.8.0
Markdown==2.6.2
-e git+https://github.com/alastair/python-musicbrainzngs.git@dc12e716d93a6e59172b5638c4c73b3a5f992e18#egg=musicbrainzngs
ndg-httpsclient==0.4.2
parsel==1.2.0
psycopg2==2.6.1
pyasn1==0.3.1
pyasn1-modules==0.0.10
pycparser==2.18
PyDispatcher==2.0.5
pyen==2.3.1
pylast==1.2.1
pyOpenSSL==17.2.0
python-dateutil==2.4.2
python-Levenshtein==0.12.0
queuelib==1.4.2
requests==2.18.2
Scrapy==1.4.0
scrapy-djangoitem==1.0.0
service-identity==17.0.0
six==1.10.0
spotipy==2.4.4
Twisted==17.5.0
urllib3==1.22
w3lib==1.17.0
zope.interface==4.4.2
